extends common/base

block title
    | Netflix

block main
    .wrapper
        #app(class="app")!= content

block script
    if preloadedState
        script(src="assets/scripts/common.js")
        script(src="assets/scripts/app.bundle.js")

    