@import './node_modules/bootstrap/scss/bootstrap.scss';
@import 'main';
@import '../js/components/**/*.scss';

.app__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1 0 auto;
}