@import './node_modules/bootstrap/scss/bootstrap.scss';
@import 'main';
@import '../js/components/**/*.scss';

.app__inner {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}