@import 's1.scss';
$main-background:   grey;


body {
    background: $main-background;
    font-color: red;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}