.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(40px);
  width: 100%;
  background-color: $color-background-light;

  .container {
    align-items: center;
  }
}